@font-face {
    font-family: 'iconfont';  /* project id 780326 */
    src: url('//at.alicdn.com/t/font_780326_8jn5e66ljup.eot');
    src: url('//at.alicdn.com/t/font_780326_8jn5e66ljup.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_780326_8jn5e66ljup.woff') format('woff'),
    url('//at.alicdn.com/t/font_780326_8jn5e66ljup.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_780326_8jn5e66ljup.svg#iconfont') format('svg');
  }

  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-play:before { content: "\e62e"; }
  
  .icon-collect:before { content: "\e626"; }
  
  .icon-voice:before { content: "\e623"; }
  
  .icon-home:before { content: "\e607"; }
  
  .icon-score:before { content: "\e63e"; }
  
  .icon-dyncomments:before { content: "\e606"; }
  
  .icon-collect1:before { content: "\e630"; }
  
  .icon-person:before { content: "\e603"; }
  
  .icon-video:before { content: "\e7da"; }
  
  .icon-heart:before { content: "\e7df"; }
  
  .icon-heart-fill:before { content: "\e849"; }
  
  .icon-download:before { content: "\e6fd"; }
  