@font-face {
  font-family: 'iconfont';  /* project id 780326 */
  src: url('//at.alicdn.com/t/font_780326_qx1fsz50rs.eot');
  src: url('//at.alicdn.com/t/font_780326_qx1fsz50rs.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_780326_qx1fsz50rs.woff') format('woff'),
  url('//at.alicdn.com/t/font_780326_qx1fsz50rs.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_780326_qx1fsz50rs.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
  .icon-play:before { content: "\e62e"; }

  .icon-collect:before { content: "\e626"; }
  
  .icon-voice:before { content: "\e623"; }
  
  .icon-home:before { content: "\e607"; }
  
  .icon-pause:before { content: "\e7a9"; }
  
  .icon-score:before { content: "\e63e"; }
  
  .icon-dyncomments:before { content: "\e606"; }
  
  .icon-collect1:before { content: "\e630"; }
  
  .icon-person:before { content: "\e603"; }
  
  .icon-MusicAcc:before { content: "\e73a"; }
  
  .icon-video:before { content: "\e7da"; }
  
  .icon-heart:before { content: "\e7df"; }
  
  .icon-heart-fill:before { content: "\e849"; }
  
  .icon-play1:before { content: "\e66b"; }
  
  .icon-download:before { content: "\e6fd"; }


  .icon{
    display: block;
    background-size: contain;
  }

  .icon_home{
    background: url('../resource/home.png');
  }

  .icon_resorce{
    
  }
  